*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: #717171;
}

.collapse{
    display: flex;
    justify-content: end;
}

.imovel{
    height: 150px;
    width: 150px;
}

.div1{
    display: flex;
    justify-content: center;
}

.card{
    margin-right: 50px;
}

#dropdownMenuButton{
    border-color: #ffe484;
    background-color: rgb(18, 206, 196);
}